    html,
    body {
      margin: 5px;
      font-family: var(--font);
      font-size: 12.5px;
      background: #fddaef;
      overflow-wrap: anywhere;
    }

    table{
      font-size: 12.5px;
    }

    a {
      color: black;
        text-decoration: none;
    }

    .blank_row {
      height: 10px !important;
      /* overwrites any other rules */
      /* background-color: #FFFFFF; */
      background: #fddaef;
    }
