main {
    background-color: black;

h1{
    /* font-weight: normal; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    color: white;
}
